#   Empêche la visualisation de l'arborescence, n'a rien à voir avec le masquage du « index.php ».
Options -Indexes

#   Active le module de réécriture d'URL.
RewriteEngine on

#
#   Fixe les règles de réécriture d'URL. Ici, nous utilisons une liste blanche.
#

### Indique explicitement la racine du site
#RewriteBase /
### Empêche la redirection automatique vers la page d'accueil
#RewriteCond %{REQUEST_FILENAME} !-f
### Exclut les URL correspondants à un fichier réel
#RewriteCond %{REQUEST_FILENAME} !-d
### Toutes les URL qui ne correspondent pas a ces masques sont reecrites.
RewriteCond $1 !^(index.php|assets|robots.txt|sitemap.xml)
### Toutes les autres URL vont etre redirigées vers le fichier index.php
RewriteRule ^(.*)$ index.php/$1 [L]